body {
	background-color: #bdc3c7;
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttons:hover span {
  padding-right: 45px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}

.logocontainer {
	margin: auto;
	margin-top: 100px;
	width: 500px;
	height: 350px;
	background-color: #2c3e50;
	border-radius: 25px;
}

#logo {
    text-align: center;
	vertical-align: middle;
	line-height: 350px; 
	color: #ffffff;
	font-size: 140px;
	font-family: 'Maven Pro', sans-serif;
}

#createNew_button {
    display: block; /* change this from inline-block */
    width: 30%; /* setting the width */
    margin: 0 auto; /* this will center  it */
	margin-top: 50px;
    position: relative;
	height: 15%;
    font-family: 'Maven Pro', sans-serif;
    font-size: 60px;
    outline: none;
    color: #ffffff;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 25px;
    background-color: #8585ad;
    border-bottom:1px solid #7b8b2f;
}

#createNew_button:hover {
    background-color: #52527a;
}

#