body {
	background-color: #bac0c4;
}

@media only screen and (min-width: 600px)  {
	.buttons span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}

	.buttons span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}

	.buttons:hover span {
	  padding-right: 40px;
	}

	.buttons:hover span:after {
	  opacity: 1;
	  right: 0;
	}
	
	.headercontainer {
		width: 100%;
		height: 1000px;
		margin: auto;
		margin-top: -4%;
		margin-bottom: -4%;
		background-color: #75828a;
	}

	.logocontainer {
		position: relative;
		margin: auto;
		margin-top: -3%;
		width: 40%;
		height: 40%;
		background-color: #2c3e50;
		border-radius: 25px;
	}

	#logo {
		text-align: center;
		vertical-align: middle;
		line-height: 275%;
		margin-top: 10%;
		color: #ffffff;
		font-size: 140px;
		font-family: 'Maven Pro', sans-serif;
	}

	#createNew_button {
		display: block; /* change this from inline-block */
		width: 30%; /* setting the width */
		margin: 0 auto; /* this will center  it */
		margin-top: 10%;
		position: relative;
		height: 15%;
		font-family: 'Maven Pro', sans-serif;
		font-size: 60px;
		outline: none;
		color: #ffffff;
		border: none;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 25px;
		background-color: #8585ad;
		border-bottom:1px solid #7b8b2f;
	}

	#createNew_button:hover {
		background-color: #52527a;
	}
	
	.descriptioncontainer {
		position: relative;
		margin-top: -10%;
		width: 100%;
		height: 90%;
		background-color: #171a1c;
	}
	
	#whatIsIdless {
		text-align: center;
		vertical-align: middle;
		line-height: 200%;
		margin-top: 10%;
		color: #ffffff;
		font-size: 110px;
		font-family: 'Maven Pro', sans-serif;
	}
	
	#idlessDescription {
		text-align: center;
		vertical-align: middle;
		line-height: 200%;
		margin-top: 10%;
		color: #ffffff;
		font-size: 35px;
		font-family: 'Maven Pro', sans-serif;
	}
	
	#clearbutton {
		
	}

@media only screen and (min-width: 500px)  {
	
}
	