<!-- Logo goes over timer field, which goes over button to add new timer field. Timer goes away when compeleted-->
<!-- Let's make sure everyone is on the same page! -->
<html>
	<title>Idless</title>
	<head>
		<script src="../static/script.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body>
	<div class="headercontainer">
		<div class="logocontainer">
			<h1 id="logo">Idless</h1>
		</div>
	</div>
		<div class="timerbuttoncontainer">
			<button class="buttons" id="timerbutton"><span id="timerbuttontext">start a new timer</div></button>
		</div>
	</body>
</html>

