<!-- Logo goes over timer field, which goes over button to add new timer field. Timer goes away when compeleted-->
<!-- Let's make sure everyone is on the same page! -->
<html>
	<title>Idless</title>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body>
	<div class="headercontainer">
		<div class="logocontainer">
			<h1 id="logo">Idless</h1>
		</div>
		<div class="timerbuttoncontainer">
			<button class="buttons" id="createNew_button"><span class="buttonstext">start a new timer</span></button>
		</div>
	</div>
		<h1 id="whatIsIdless">What is Idless?</h1>
		<p id="idlessDescription">Idless is an application designed to let you set reminders for yourself and message you once they happen. 
		Whether it's picking up your laundry or meeting a friend for dinner, Idless can help you be sure you do whatever you need to.</p>
		<div style="text-align: center;">
			<div id="timer_label"></div>
			<div id="time_remaining"></div>
			<button class="buttons" id="clear_button" onclick="removeTimer()"></button>
		</div>
		<!-- forms -->
		<form action="#" name="form1">
		<div style="text-align: center;">
		<input type="text" name="txt1">
		<input class="hide" type="text" name="txt2">
		<input class="hide" type="text" name="txt3">
		<input class="hide" type="text" name="txt4">
		<input class="hide" type="text" name="txt5">
		<button class="buttons" id="clear_button"><span class="buttonstext"></span>clear</button>
		</div>
	</body>
</html>

